<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Onboarding">
        <activity
            android:name=".materialsFireBase"
            android:exported="false" />
        <activity
            android:name=".uploadpdfActivity"
            android:exported="false" />
        <activity
            android:name=".fireBaseActivity"
            android:exported="false" />
        <activity
            android:name=".view_pdf"
            android:exported="false" />
        <activity
            android:name=".registrActivity"
            android:exported="false" />
        <activity
            android:name=".profProfile"
            android:exported="false" />
        <activity
            android:name=".materials"
            android:exported="false" />
        <activity
            android:name=".coursePage"
            android:exported="false" />
        <activity
            android:name=".studentProfile"
            android:exported="false" />
        <activity
            android:name=".profHome"
            android:exported="false" />
        <activity
            android:name=".studentLogin"
            android:exported="false" />
        <activity
            android:name=".profLogin"
            android:exported="false" />
        <activity android:name=".mainscreen" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".studentHome"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>